<div ng-class="{ white: ctrl.useBlackText(route) }" ng-style="{ color: ctrl.useBlackText(route) ? '#000000' : ('#' + route.route_color) }">
  <h2>
    <img ng-if="route.route_display_short_name && route.route_display_short_name.elements && route.route_display_short_name.elements[0]"
         class="{{ 'img' + ctrl.getImageSize(route) }}"
         ng-src="{{ ctrl.getImageUrl(route, 0) }}"
         alt="Route icon" /><!--
 --><span>{{ route.route_display_short_name && route.route_display_short_name.elements ? route.route_display_short_name.elements[1] : '' }}<i ng-bind="route.branch_code"></i></span><!--
 --><img ng-if="route.route_display_short_name && route.route_display_short_name.elements && route.route_display_short_name.elements[2]"
         class="{{ 'img' + ctrl.getImageSize(route) }}"
         ng-src="{{ ctrl.getImageUrl(route, 2) }}"
         alt="Route icon" />
  </h2>

  <div class="content" ng-repeat="dir in route.itineraries" ng-if="dir">
    <div class="stop_name">
      <svg class="pin-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path d="M128 252.6C128 148.4 214 64 320 64C426 64 512 148.4 512 252.6C512 371.9 391.8 514.9 341.6 569.4C329.8 582.2 310.1 582.2 298.3 569.4C248.1 514.9 127.9 371.9 127.9 252.6zM320 320C355.3 320 384 291.3 384 256C384 220.7 355.3 192 320 192C284.7 192 256 220.7 256 256C256 291.3 284.7 320 320 320z"/></svg>{{ dir.closest_stop ? dir.closest_stop.stop_name : 'Unknown stop' }}
    </div>
    <div class="direction" ng-style="ctrl.getCellStyle(route)">
      <h3 ng-bind="dir.merged_headsign || 'Unknown destination'"></h3>

      <div class="time" ng-show="ctrl.hasShownDeparture(route, dir)">
        <h4 ng-repeat="item in dir.schedule_items | filter: ctrl.shouldShowDeparture" ng-if="item">
          <span ng-bind="ctrl.getTime(item.departure_time) | amDifference : null : 'minutes'"></span>

          <i ng-if="item.is_real_time" class="realtime"></i>
          <small ng-class="{ last: item.is_last }">{{ item.is_last ? ('last' | translate) : 'min' }}</small>
        </h4><h4>
          <span class="inactive">&nbsp;</span>
        </h4><h4>
          <span class="inactive">&nbsp;</span>
        </h4><h4>
          <span class="inactive">&nbsp;</span>
        </h4>
      </div>
    </div>
  </div>

  <div ng-if="ctrl.hasAlerts(route)">
    <div class="route-alert-header" ng-style="ctrl.getCellStyle(route)">
      <span>{{ route.route_short_name || route.route_long_name }} Alerts</span>
      <!-- <span ng-if="!route.mode_name">{{ route.route_short_name || route.route_long_name }} Alerts</span> -->
      <!-- <span ng-if="route.mode_name">{{ route.route_short_name || route.route_long_name }} {{ route.mode_name }} Alerts</span> -->
    </div>
    <div class="route-alert-ticker" ng-style="ctrl.getCellStyle(route)">
      <div class="alert-text" ng-class="{ 'single-alert': ctrl.hasSingleAlert(route) }">{{ ctrl.getAlertText(route) }}</div>
    </div>
  </div>
</div>
